body {
    font-family: Arial, sans-serif;
    background-image: url('../../Image/welcome_page_background3.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 360px;
    padding: 40px;
    /* background-color: #2da176; */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(60,64,67,0.3), 0 4px 8px rgba(60,64,67,0.15);
    text-align: center;
    
}
h1 {
    margin-top: 0;
    font-size: 24px;
    font-weight: normal;
    /* color: #202124; */
    color: #dadce0;
}
form {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    /* color: #202124; */
    color: #dadce0;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
button,
.back-button {
    padding: 10px;
    width: 40%;
    background-color: #248671;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
    text-align: center;
}
button:hover{
    background-color: #2ba053;
    transform: scale(1.1);
}
.back-button:hover {
    background-color: #f54949;
    transform: scale(1.1);
}
.form-group p {
    color: red;
    font-size: 14px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}
.footer-company-name {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
